<div class="container">
<h2>Stupid Coaching</h2>
<br>
<p>Ask your coach anything you want</p>
<br>
<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
</div>
